/OldModules
/New_features
_tests
venv
.idea
*.vscode
__pycache__
test_files
local_utils
local_data
*.db
sui_main.ui
android
pre_commit
*.sqlite
TestData
/sui_test2_0.1.0.12.ui
/sui_test_0.1.0.12.ui
/test3.py
/test4.py
/test5.py
/HashMap.json
/main_local.py
/rightscan5.db-journal
/tests/test1.py
/test_http_get_data.py
/tests_main.py
rs_settings.json
rs_settings_local.json
SimpleKeep.json