/java.py
/OldModules
_tests
venv
.idea
*.vscode
__pycache__
ru
test_files
local_utils
local_data
*.db
sui_main.ui
rs_settings*.*
ru.travelfood.simple_ui.py
android
pre_commit
*.sqlite
Database_copy.py